<html>
<head>
	<link href="{{asset('assets/vendor/bootstrap-4.3.1-dist/css/bootstrap.min.css')}}" rel="stylesheet" />
	<link href="{{asset('assets/vendor/bootstrap-4.3.1-dist/css/bootstrap-grid.min.css')}}" rel="stylesheet" />
    <link href="{{asset('assets/vendor/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker.min.css')}}" rel="stylesheet" />
	<link href="{{asset('assets/vendor/select2/dist/css/select2.css')}}" rel="stylesheet" />
	<link href="{{asset('assets/vendor/openlayers/v4.x.x-dist/ol.css')}}" rel="stylesheet" />
    <link href="{{asset('assets/vendor/css_facets/theme.css')}}" rel="stylesheet" />    
	<link href="{{asset('assets/styles/naturalheritage.css')}}" rel="stylesheet" />   
</head>
<body>
<script src="{{asset('assets/vendor/jquery/dist/jquery.min.js')}}"></script>
<script src="{{asset('assets/vendor/jquery-facets/jquery.deserialize.js')}}"></script>
<script src="{{asset('assets/vendor/jquery-facets/jquery.facets.js')}}"></script>
<script src="{{asset('assets/vendor/select2/dist/js/select2.full.js')}}"></script>
<script src="{{asset('assets/vendor/bootstrap-4.3.1-dist/js/bootstrap.bundle.js')}}"></script>
<script src="{{asset('assets/vendor/bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.min.js')}}"></script>
<script src="{{asset('assets/vendor/openlayers/v4.x.x-dist/ol.js')}}"></script>
<script src="{{asset('assets/js/logic_facets.js')}}"></script>

<div class="standalone-header" >
<a id="portal-logo" title="NaturalHeritage" accesskey="1" href="http://www.darwin.naturalsciences.be/portal">
   <img alt="" class="center" src="{{asset('assets/img/logo_nh.png')}}"/>
</a>
</div>

<div class="row standalone-header" >
    <div class="col-md-4 col-sm-4">
        <div class="center">
            <img alt="Simple search" class="img_search" style="display:inline-block" src="{{asset('assets/img/search.png')}}"/>
            <span class="div_search simple_search" >Simple search</span>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="center">
            <img alt="Simple search" class="img_search" style="display:inline-block" src="{{asset('assets/img/search_detail.png')}}"/>
            <span class="div_search toggle_details" style="display:inline-block">Advanced search</span>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="center">
            <img alt="Geo search" class="img_search" style="display:inline-block" src="{{asset('assets/img/image_geo.png')}}"/>
            <span class="div_search show_map" style="display:inline-block" >Geographic search</span>
        </div>
    </div>
</div>


<div class="clearfix position-fixed nh_spinner" >
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div> 

<div class="row">
<div class="col-md-9 col-sm-12">
    <div  id="wrap">
    <form id="test_facets" class="filter-sec">
    <div class="container-fluid padding-left">
    <div class="row" >
    <div class="col-md-4 col-sm-4" >
        <div>Free text: <select id="elastic_search_freetext" class="select2 memoryforfacet" style='width:300px'></select><img src="{{asset('assets/img/remove.png')}}" id="clear_freetext"/></div>
        </div>
    {% include 'NaturalheritageSearchBundle:Standalone:elasticsearch_detailed_search.html.twig' with {'details' : details} %}</br>

    <div class="col-md12 col-sm-12">
    {% include 'NaturalheritageSearchBundle:Standalone:search_map_bootstrap.html.twig' with {'map' : map} %}</br>

    </div>
        <div name="div_search" id="div_search" class="col-md3 col-sm-4">
            <div class="lefta-sec">
                <div class="lefta-cont">

                <input type="hidden" id="base_url" value="{{url('naturalheritage_search_homepage')}}"></input>
                <input type="hidden" id="facet_criteria"></input>
                <input type="hidden" id="facet_criteria_generic"></input>
                <input type="hidden" id="facet_criteria_annex"></input>
                <input type="hidden" id="facet_criteria_facets"></input>
                <input type="hidden" id="facet_criteria_annex_facets"></input>

                <input type="button" class="search_dem" id="search_dem" name="search_dem" value="search"></input><br/>


                <div id="placeholder_facets" name="placeholder_facets"></div>

                </div>
            </div>
        </div>
        <div name="div_results" id="div_results" class="col-md9 col-sm-8">
            <div id="searchCont"  class="right-sec"></div>
        </div>
    </div>
    </form>
    </div>
    </div>
</div>
<div class="col-md-2 col-sm-12">
        <div class="row standalone-header">
            <div class="col-md-12 col-sm-12">
                
                    <a href="http://www.naturalsciences.be" target="_blank"><img alt="RBINS" class="img_institution"  src="{{asset('assets/img/institutions/rbins.png')}}"/></a>            
                </div>
        </div>
        <div class="row standalone-header">
            <div class="col-md-12 col-sm-12">        
               
                    <a href="https://www.africamuseum.be" target="_blank"><img alt="RMCA"  class="img_institution standalone-header"  src="{{asset('assets/img/institutions/rmca.png')}}"/></a>           
                </div>         
        </div>
         <div class="row">
            <div class="col-md-12 col-sm-12">        
                
                    <a href="https://www.plantentuinmeise.be" target="_blank"><img alt="BGM"  class="img_institution"  src="{{asset('assets/img/institutions/apm.png')}}"/></a>           
                </div>           
        </div>
         <div class="row">
          <div class="col-md-12 col-sm-12">               
                    <a href="https://www.cetaf.org/" target="_blank"><img alt="CETAF"  class="img_institution"  src="{{asset('assets/img/institutions/cetaf.png')}}"/></a>          
          </div>           
        </div>
         <div class="row">
          <div class="col-md-12 col-sm-12">               
                    <a href="https://www.belspo.be/" target="_blank"><img alt="BGM"  class="img_institution"  src="{{asset('assets/img/institutions/belspo.jpg')}}"/></a>          
          </div>           
        </div>
</div>
</div>

<script language="javascript">
var route;
var full_screen=true;
route=$("#base_url").val();





$(document).ready(
    function()
    {
       $("#clear_freetext").click(
        function()
        {
 
            $("#elastic_search_freetext").val(null).trigger('change');
        }
       );
       
   		$('#elastic_search_freetext').select2({
				//width: "300px",
				tags: true,
				multiple: false,
				  ajax: {
				    url: detect_https(route.concat("autocompletefulltext")),
				    data: function (params) {
				      var query = {
					q: params.term
				      }				      
					
				      return query;
				    },
					processResults: function(data) {
					       return {results: data};
					}
				  }
				});
                
         $('#elastic_search_freetext').on('select2:select', function (e) {
					    $("#facet_criteria").val("");
						$("#facet_criteria_generic").val("");
						$("#facet_criteria_annex").val("");
						$("#facet_criteria_facets").val("");
						$("#facet_criteria_annex_facets").val("");   
        });
        
       $(".search_dem").click(
        function()
        {
			$(".nh_spinner").show(0).delay(5000).hide(0);
             var term=$("#elastic_search_freetext").val();
            search_fct(1,true);
        }
       )
	   

    }
);

</script>
{% include 'NaturalheritageSearchBundle:Default:nav.html.twig' %}</br>
</body>
</html>
