<html>
<head>
	<script src="{{asset('assets/vendor/jquery/dist/jquery.min.js')}}"></script>
	<link href="{{asset('assets/vendor/select2/dist/css/select2.min.css')}}" rel="stylesheet" />
	<script src="{{asset('assets/vendor/select2/dist/js/select2.full.min.js')}}"></script>
</head>
<body>
<!--<form>-->
{{form_start(form, {'action': path('naturalheritage_search_searchelasticsearch', {'textpattern':form.freetext.value|default('-1')}), 'attr':{'class': 'nh_submit'}})}}
Solr search<br/>
{{ form_label(form.freetext) }}
{{ form_widget(form.freetext, { 'attr': {'class': 'select2', 'multiple': 'multiple', width:'150px'} }) }}<br/>
{{form_row(form.submit, {'label': 'search portal'})}}
{{form_end(form)}}
<!--<input type="button" name="search_solr" id="search_solr" value="Search"></input>
</form>
<div id="result" name="result">-->
{{results|default("No Result")}}
</div>
<script type="text/javascript">
	$(document).ready(

		function()
		{	

			 $('.select2').select2({
			width: "300px",
			  tags: true,
			 minimumInputLength: 3,
			  tokenSeparators: [",", " "],
			  /*createSearchChoice: function(term, data) {
			    if ($(data).filter(function() {
			      return this.text.localeCompare(term) === 0;
			    }).length === 0) {
			      return {
				id: term,
				text: term
			      };
			    }
			  },*/
			  multiple: true,
			  ajax: {
			    method: "GET",
			  url: "http://localhost:9200/naturalheritage/_search?",
			  crossDomain: true,  
			
			  async: false,
				//dataType : 'json',
				 // contentType: 'application/json',
			      // add "(new tag)" for new tags
    data: {source:JSON.stringify({query:{match:{content:{query:"cuvette centrale",operator:"and"}}}})},
			    results: function(data, page) {
			      return {
				results: data
			      };
			    }
			  }
			});
			
			$(".nh_submit").submit(
			
				function()
				{
					$(".nh_submit").attr('action', $(".nh_submit").attr('action').replace(/\/-1/,'/'.concat($("#solr_search_freetext").val())) );//{{ app.request.uri }}.concat($("#solr_search_freetext").val())).submit();
				}
			);
		}
	);
</script>
</body>
</html>
