{% if data is defined %}
   <div class="top">
   <input type="button" id="full_screen" name="full_screen" class="full_screen" value="full_screen"></input>
   <div>Results  :{{ nb_results}} (on {{ nb_results_all }} matching data )</div>
   {% include 'NaturalheritageSearchBundle:Default:pagination.html.twig' %}
<div  class="row" style=" overflow-wrap: break-word;">

    {% set initcount = (pagination.page  - 1) * page_size %}
    {% for record in data['hits'] %}
           {% set initcount = initcount + 1 %}
           <div class="col-md-12 col-sm12">
           <div  class="row" style=" overflow-wrap: break-word;">
             <div class="thumbnail">
           <div class="caption">
           <div class="col-md-12 col-sm12">
           <div>{{ initcount }}</div>
         
            {{ record["_source"]["institution"] |default('')  }}<br/>
			{% if "RBINS" in record["_source"]["institution"] |default('')  %}
				<div><img class="instilink" src="http://www.naturalheritage.be/partners/rbins/logo1.png"/></div>
			{% elseif "Meise" in record["_source"]["institution"] |default('')  %}
				<div><img class="instilink" src="http://www.naturalheritage.be/partners/mbg/logo1.png"/></div>
			{% elseif "RMCA" in record["_source"]["institution"] |default('')  %}
				<div><img class="instilink" src="http://www.naturalheritage.be/partners/rmca/logo1.png"/></div>
			{% endif %}
            {{ record["_source"]["main_collection"]|default('') }}<br/>
            {% if record["_source"]["sub_collection"]|default('')|length > 0 %}{{ record["_source"]["sub_collection"]|default('') }}<br/>{% endif %}
            {% if record["_source"]["object_type"]|default('') is iterable %}
                {% for obj in record["_source"]["object_type"] %}
                    {{ obj|default('') }}<br/>
               {% endfor %}
            {% else %}
                {{ record["_source"]["object_type"]|default('') }}<br/>
            {% endif %}
            {% for identifier in record["_source"]["object_identifiers"]|default('') %}
                {{ identifier.identifier_type }} : {{ identifier.identifier }}<br/>
            {% endfor %}
            <a href={{ record["_source"]["id"] }} class="link" target="_blank">Link</a><br/>
           </div>
           
		  
          
           <div class="col-md-4 col-sm6">
          {% set tmp_id = "" %}   
          {% if "coordinates" in record["_source"]|keys  %}
              {% for coordinate in record["_source"]["coordinates"] %}
              {% set tmp_id = record["_source"]["id"] | md5 %}
                    <input type="hidden" class="coords_for_map" value='{"id":"{{ tmp_id  }}", "lat":{{ coordinate.geo_ref_point.lat }}, "lon":{{ coordinate.geo_ref_point.lon }}, "url":"{{record["_source"]["id"] }}"}'/>
            
                {% endfor %}
                {% for coordinate in  record["_source"]["coordinates"] %}
                    {% include 'NaturalheritageSearchBundle:Default:map_detail.html.twig' with { 'map_id' : tmp_id, 'lat': coordinate.geo_ref_point.lat, 'long':coordinate.geo_ref_point.lon } %}
                {% endfor %}
          {% endif %}
          </div>
          </div>
		  
          </div>
          
          </div>
          </div>
    {% endfor %}
    </div>
	   {% include 'NaturalheritageSearchBundle:Default:pagination.html.twig' %}
  {% endif %}
</div>
<script language="javascript">
    $(".full_screen").click(
        function()
        {
            $("#div_search").toggle();
        }
    );
	

</script>