<style>
.likeananchor{
	 background:none!important;
     color: blue;
	
     border:none; 
     padding:0!important;
     font: inherit;
     /*border is optional*/
     border-bottom:1px solid blue;
	 
     cursor: pointer;
}

</style>
<div>
{% if count is defined %}
    {% if facets is defined %}
    <h3>Facets:</h3>
    <table>
    <tr>
        {% for facet in facets %}
        <td class="align-top">
            <li>{{facet['criteria']}}
            <br/>
            <ul>
                  {% for facet_detail in facet['details'] %}
                   <li><input class="select_facet" type="checkbox" value="{{facet['jquery_control']}}|{{facet_detail['value']}}"/>&nbsp;{{facet_detail['value']}}: {{facet_detail['count']}}</li>
                  {% endfor %}
            </ul></li>
         </td>   
        {% endfor %}
    </tr>
    </table>
    {% endif %}
<h3>{{count}} result(s)</h3>
{% include 'NaturalheritageSearchBundle:Default:pagination.html.twig' %}
{% endif %}
{% if results is defined %}

<h3>Results:</h3>
<ul>
    {% for result in results %}
	<li>{% if ids is defined %}{{ ids[result.id] }}{% endif %}<ul>
	<li>{{ result.institution }}</li>
	<li>{{ result.main_collection }}</li>
    <li>{{ result.sub_collection }}</li>
	<li>{{ result.object_type }}</li>
        {% for identifier in result.object_identifiers %}
     		<li>{{ identifier.identifier_type }} : {{ identifier.identifier }}</li>
     	{% endfor %}
       <li><a href={{ result.id }} target="_blank">{{ result.id }}</a></li>
	{% for coordinate in result.coordinates %}
		<input type="hidden" class="coords_for_map" value='{"id":"{{ ids[result.id] }}", "lat":{{ coordinate.geo_ref_point.lat }}, "lon":{{ coordinate.geo_ref_point.lon }}, "url":"{{ result.id }}"}'/>
		
	{% endfor %}
    {% for coordinate in result.coordinates %}
    <li>{% include 'NaturalheritageSearchBundle:Default:map_detail.html.twig' with { 'map_id' : ids[result.id], 'lat': coordinate.geo_ref_point.lat, 'long':coordinate.geo_ref_point.lon } %}</li>
    {% endfor %}
	</ul></li>
    {% endfor %}
</ul>
    {% if count is defined %}
    {% include 'NaturalheritageSearchBundle:Default:pagination.html.twig' %}
    {% endif %}
{% endif %}
</div>
<script language="javascript">

	
	

	
$(document).ready(

	
		function()
		{
			
		    $(".select_facet").change(
			function()
			{
				
				var tmpVal=$(this).val();
				var tmpArray=tmpVal.split('|');
				var destSelect=tmpArray[0];
				var valueToCopy=tmpArray[1];
				if($(this).is(":checked"))
				{	
					if($(destSelect).val().length)
					{
						if($(destSelect).val().length>0&&KEEPSTATE.newValues.indexOf(destSelect)==-1)
						{
							KEEPSTATE.add_to_history_select(destSelect);
							$(destSelect).val('');
							KEEPSTATE.newValues.push(destSelect);
						}
					}
					
					var newOption = new Option(valueToCopy, valueToCopy, true, true);
					$(destSelect).append(newOption).trigger('change');
					$(destSelect).trigger({
                        type: 'select2:select',
                        params: {
                        data: {id:valueToCopy, text:valueToCopy}
                        }
                        });
                    var data = $(destSelect).select2('data');
                   
                    $(destSelect).select2("data", data, true); 
				}
				
			}
			);
			

		});
		
		$(document).on("click",".history_click",
				function(event)
				{
					event.stopImmediatePropagation();
					var tmpID=$(this).attr("id").replace("_button","");
					var newOption = new Option($(this).val(), $(this).val(), true, true);
					$(tmpID).append(newOption).trigger('change');
					//remove memory for this field
					if(KEEPSTATE.newValues.indexOf(tmpID)!=-1)
					{
						KEEPSTATE.newValues=jQuery.grep(KEEPSTATE.newValues, function(value) {
							return value != tmpID;
						});
					}
				}
			);
</script>


