<div>
{% if count is defined %}
<h3>{{count}} result(s)</h3>
{% include 'NaturalheritageSearchBundle:Default:pagination.html.twig' %}
{% endif %}
{% if facets is defined %}
<h3>Facets:</h3>
<table
<tr>
    {% for facet in facets %}
    <td class="align-top">
        <li>{{facet['criteria']}}
        <ul>
              {% for facet_detail in facet['details'] %}
               <li>{{facet_detail['value']}}: {{facet_detail['count']}}</li>
              {% endfor %}
        </ul></li>
     </td>   
    {% endfor %}
</tr>
</table>
{% endif %}
{% if results is defined %}
<h3>Results:</h3>
<ul>
    {% for result in results %}
	<li><ul>
	<li>{{ result.institution }}</li>
	<li>{{ result.main_collection }}</li>
    <li>{{ result.sub_collection }}</li>
	<li>{{ result.object_type }}</li>
        {% for identifier in result.object_identifiers %}
     <li>{{ identifier.identifier_type }} : {{ identifier.identifier }}</li>
     {% endfor %}
       <li><a href={{ result.id }} target="_blank">{{ result.id }}</a></li>
	</ul></li>
    {% endfor %}
</ul>
{% endif %}
</div>


