<div>
{% if count is defined %}
<h3>{{count}} result(s)</h3>
{% include 'NaturalheritageSearchBundle:Default:pagination.html.twig' %}
{% endif %}
{% if facets is defined %}
<h3>Facets:</h3>
<ul>
    {% for facet in facets %}
	<li>{{facet['criteria']}}
	<ul>
		  {% for facet_detail in facet['details'] %}
		   <li>{{facet_detail['value']}}: {{facet_detail['count']}}</li>
		  {% endfor %}
	</ul></li>
    {% endfor %}
</ul>
{% endif %}
{% if results is defined %}
<h3>Results:</h3>
<ul>
    {% for result in results %}
	<li><ul>
	<li>{{ result.institution }}</li>
	<li>{{ result.bundleName }}</li>
	<li>{{ result.title }}</li>
        <li><a href={{ result.id }} target="_blank">{{ result.id }}</a></li>
	</ul></li>
    {% endfor %}
</ul>
{% endif %}
</div>


