<div class="pagination">
	<div class="pagination-buttons">
	    {% if pagination.page>1 %}
		<button type="button" class="pager" value="1"><<</button>
		<button type="button"  class="pager" {{pagination.page - 1}} ><</button>
	    {% endif %}
	    {#display p numbers only from p-4 to p+4 but don't go <1 or >pages_count#}
	    {% for p in range(max(pagination.page-4, 1), 
	min(pagination.page+4, pagination.pages_count)) %}
		<button type="button" {% if p == pagination.page %} class="current-page pager" {% else %} class="pager" {% endif %} value="{{ p }}">{{ p }}</button>
	    {% endfor %}
	    {% if pagination.page<pagination.pages_count %}
		<button type="button" value="{{ pagination.page + 1 }}" class="pager">></button>
		{% if pagination.pages_count > 10000 %}
		<button type="button" value="10 000" class="pager">>></button> 
		<br/> <div style="color:red">Only the top 10 000 records are shown. Please refine your search criteria. </div>
		{% else %}
		<button type="button" value="{{ pagination.pages_count }}" class="pager">>></button>
		{% endif %}
	    {% endif %}
	</div>
</div>
<br/>
<div>page {{ pagination.page }} of {{ pagination.pages_count }}</div>
<script type="text/javascript">
	$(document).ready(

		function()
		{	

			$('.pager').click(
				function()
				{
					search_fct($(this).val(), false);
					
				});	
		}	
	);
</script>
