<div class="details_{{ keywordfield }} col-md-6 col-sm-4">
	Details for "{{ keywordfield }}"
	<table ">
		{% for criteria in subcriterias %}
        		<tr>
			<td>{{ criteria.text|replace({"_BLANK_":" "}) }}: </td>
			<td> <select id="elastic_search_{{ keywordfield }}_{{ criteria.text }}" class="select2 memoryforfacet elastic_search_finesearch " multiple="multiple" style='width:300px' ></select>  And: <input id="elastic_search_{{ keywordfield }}_{{ criteria.text }}_and" type="checkbox" value="AND"/>
				<div id="elastic_search_{{ keywordfield }}_{{ criteria.text }}_history"></div></td>
			</tr>
    		{% endfor %}
	</table>
	<script language="javascript">
		{% for criteria in subcriterias %}
               
               globalListBoolean["{{ criteria.id }}"]="or";
			        
                    
              $('#elastic_search_{{ keywordfield }}_{{ criteria.text }}').select2({
				
				tags: true,
				tokenSeparators: ['|'],
				  ajax: {
				    url: detect_https(route.concat('autocomplete{{ keywordfield }}')),
				    data: function (params) {
				      
				      var query = {
					q: params.term,
					criteria: '{{ criteria.text }}'
				      }
				          
					
				      return query;
				    },
					processResults: function(data) {
					       return {results: data};
					}
				  }
				});
                
       
               
                 $("#elastic_search_{{ keywordfield }}_{{ criteria.text }}_and").click(
                    function()
                    {
                        if($("#elastic_search_{{ keywordfield }}_{{ criteria.text }}_and").is(':checked'))
                        {
                             globalListBoolean["{{ criteria.id }}"]="and";
                        }
                        else
                        {
                              globalListBoolean["{{ criteria.id }}"]="or";
                        }                      
                       
                   
                    }
                 );
                 globalListCtrls["{{ criteria.id }}"]='#elastic_search_{{ keywordfield }}_{{ criteria.text }}';
                 globalListBoolean["{{ criteria.id }}"]="or";
		{% endfor %}
	</script>
</div>
